---
import type { CollectionEntry } from 'astro:content';
import { Image } from 'astro:assets'
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import FormattedDate from '../components/FormattedDate.astro';
import Disqus from '../components/Disqus.astro';

type Props = CollectionEntry<'blog'>['data'];

const { slug } = Astro.params
const url = new URL(Astro.url.pathname, Astro.site)

const { title, date, updated, permalink, featured_image, comment_id } = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead title={title} description='' />
		<style>
      .hero-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1.5em 0;
        width: 100%;
        gap: 2em;
      }

      @media (min-width: 900px) {
        .hero-section {
          flex-direction: row;
        }
      }

      .hero-image {
        width: 130px;
        height: 130px;
      }

      h1 {
        font-size: 40px;
      }

      .date {
        font-size: 22px;
        color: #999;
      }

      .prose {
        font-size: 22px;
        line-height: 150%;
      }
		</style>
	</head>

	<body>
		<Header />
		<main>
			<article>
        <div class="hero-section">
          <div class="hero-image">
            {featured_image && <Image transition:name={`post-image-${permalink}`} width={134} height={134} src={featured_image} alt="" />}
          </div>

          <div class="title">
						<h1 transition:name={`post-title-${permalink}`}>{title}</h1>

						<div class="date">
							<FormattedDate date={date} />
						</div>
          </div>
        </div>

        <hr />

        <div class="prose" transition:name={`post-content-${permalink}`}>
          <slot />
        </div>
			</article>

      {slug && <Disqus url={url.toString()} identifier={comment_id ? `${comment_id}` : slug} />}
		</main>
		<Footer />
	</body>
</html>
