extends ./base.pug

block content
  h1= page.hasTommyExample
  section.main
    article.single_post(id="post-#{page.id}")
      header.single_post-header
        if page.featured_image
          .single_post-thumbnail
            img.single_post-thumbnail_image(src=page.featured_image alt="a hand made image dedicated to the post number #{page.id}")

        .single_post-header_content
          h1.single_post-title
            = page.title

          span.single_post-header_date
            = time(page.date, 'LL')
            if page.tags.length > 0
              != " &middot; "
              span.taglist !{list_tags(page.tags, {show_count: false, style: '', separator: " &middot; "})}

      | !{page.content}

      include ./partials/related_posts.pug
      include ./partials/share.pug
      include ./partials/comments.pug

      script(async defer src="/js/prism.min.js")
